[2014-03-09 19:58] pkill37 opened #28 "List of docs pages to be converted"
# Developers
- [x] http://docs.mybb.com/Authoring_Templates_and_Themes.html
# Usage
- [ ] http://docs.mybb.com/Index_Page.html
- [ ] http://docs.mybb.com/Portal.html
- [ ] http://docs.mybb.com/Forum_Display.html
- [ ] http://docs.mybb.com/Thread_Display.html
- [ ] http://docs.mybb.com/Posting.html
- [ ] http://docs.mybb.com/Searching.html
- [ ] http://docs.mybb.com/User_CP.html
- [ ] http://docs.m

[2014-05-23 20:02] faviouz opened #29 "PHP syntax highlighting"
PHP syntax highlighting only works if the code snippet starts with `<?php`.

e.g. https://mybb.github.io/18/developers/plugins/how-to/

[2014-05-24 12:01] JordanMussi commented on #29
Doesn't using

[code]

work?

[code]

[2014-05-24 12:07] pkill37 commented on #29
Yeah, on GitHub, not on the site. See the link above.

[2014-05-24 12:21] JordanMussi commented on #29
Issue on Jekyll tracker: jekyll/jekyll#1262
If we use the `{% highlight %}` tags then it'll work without opening and closing PHP tags...

[2014-05-24 21:54] pkill37 opened #30 "TOC fading effect"
The TOC's fading effect is tacky and unnecessary. We should remove it.

Thoughts?

[2014-05-25 09:58] JordanMussi commented on #30
What effect? I scroll past it and like everything else on the page it scrolls up and then becomes hidden.

[2014-07-01 16:19] Kaeden commented on #30
I personally have nothing against changing/removing this effect.

[2014-07-03 15:53] JordanMussi commented on #30
I also support this (found the effect now :wink:).

[2014-07-04 18:58] JordanMussi opened #31 "Anchors"
The TOC/anchors don't behave as they should. For example this link: https://mybb.github.io/1.8/moderation/forums-posts/#toc_2 could end up broken and pointing to the wrong section if the order page content is modifyed or a new anchor is added above.
The 1.6 docs has anchors like `#Adding.2FEditing_an_Announcement`, however, in this new docs site we should use `#adding-editing-an-announcement` not

[2014-08-15 12:00] itsaphel commented on #30
I believe it's still there, I don't have a big issue with it but I find it unnecessary tbh, it'd be better as static.

[2014-08-16 12:38] #30 closed, assigned to pkill37

[2014-08-23 15:20] #28 closed, assigned to nobody

[2014-08-23 15:25] pkill37 commented on #31
I don't know what changed, but apparently this has been fixed. For example:

http://docs.mybb.com/1.8/install/#downloading-the-mybb-files

Links won't break now if we change things around. Plus they look nicer. :)

[2014-08-23 15:25] #31 closed, assigned to nobody

[2014-08-31 16:07] JN-Jones opened #36 "Improve merge documentation"
As I'm working on it atm I've found a few things we should change/add:
- [x] `The latest publicly released version of the MyBB Merge System only imports to MyBB 1.6.x. The version for importing to MyBB 1.2 is no longer supported.` Nope - 1.2, 1.4 AND 1.6 aren't supported anymore :P
- [x] Sometimes it may happen that you get a "Website not reachable" error while the merge (I got it with phpBB3, pos

[2014-09-12 17:48] JN-Jones opened #37 "Version overview links to wrong pages"
The versions overview links to pages without ".", eg 1615 but the pages are named with ".", eg 1.6.15

BTW: the 1.8 page needs to be updated.

[2014-09-12 19:53] JN-Jones commented on #36
I fixed a few things, need to add a few infos about the attachment/.htaccess thing and convert the "Running the Merge System" part (take a few screens etc).

[2014-10-23 19:34] trans opened #38 "Mail FAQ Uptodate?"
Is the bottom of this FAQ still correct? I looked for `mail($to...` in functions.php and could not find it.

https://github.com/mybb/docs.mybb.com/blob/gh-pages/1.8/faq/mail.md

[2014-10-23 19:35] pkill37 commented on #38
`mail()` is a native PHP function.

http://php.net/manual/en/function.mail.php

[2014-10-23 20:29] #38 closed, assigned to nobody

[2014-10-23 21:02] trans commented on #38
I know that. That's not what I was talking about. Did you look at the FAQ I linked to? At the bottom it says:

But I looked at my functions.php file and can not find the line specified. So it appears that this FAQ is not up to date.

[2014-10-23 21:22] Destroy666x commented on #38
@trans is right, this line doesn't exist. And it's not the only doc that should be updated for 1.8.

[2014-11-02 20:26] kanadaj opened #39 "Merge 1.8.1 phpbb3"
Converted my phpbb3 forum to mybb, however it left the emoticons in their phpbb3 HTML format. It also kept not migrating some users (not sure about the specific users, but on first try I lost about 250 from 2600, later this got reduced to 45 missing, checked by SELECT COUNT(*)... on the tables

[2014-11-02 20:34] Destroy666x commented on #39
How is this connected with the docs site? Please create support threads in our forums: http://community.mybb.com/forum-180.html

[2014-11-02 20:34] #39 closed, assigned to nobody

[2015-02-16 02:35] JoshH99 opened #43 "1.8.4 page needed"
Page for 1.8.4 needed, as referenced in the release blog post.

I'll get this done, unless anyone else has already prepared it.

[2015-02-16 19:42] #43 closed

[2015-03-13 22:49] Ikerepc opened #45 "MyBB 1.6 Documentation links bug"
So when you access to http://docs.mybb.com/1.6/ and click to common problems or faq, you got a list of sublinks for help. But clicking them, they lead you to error page.

Like here:
Common problems: http://docs.mybb.com/1.6/Common-Problems/
Click on any link lead to error page

[2015-03-13 23:38] JoshHarmon commented on #45
Doesn't behave like that for me. On Common Problems, clicking most of the links goes nowhere as whatever generated the links from the old wiki seems to me be in the old MediaWiki format.

[2015-03-13 23:41] Ikerepc commented on #45
Ok. It redirect nowhere, but I think it should redirect somewhere. Can it be fixed?

[2015-03-13 23:42] JoshHarmon commented on #45
I'll work on it. Thanks for mentioning it.

[2015-03-13 23:43] Ikerepc commented on #45
I see that all that questians are answered at: http://docs.mybb.com/1.6/
So can you (or I can try) add new links to that or delete that pages?

[2015-03-13 23:44] JoshHarmon commented on #45
I'll go through the 1.6 pages and make sure the articles have proper links. You don't have to worry about it - I need something to occupy myself with for the next 45 minutes :).

[2015-03-14 00:56] JoshHarmon commented on #45
@Ikerepc I have fixed as many broken links as I can find for the moment. Please do not hesitate to open another issue if you find more, but most should be fixed at this time.

Edit: Relevant commits below:
f72339a
6ebf87c
ab90a59
3099b60

^JH

[2015-03-14 00:56] #45 closed

[2015-03-17 07:43] Ikerepc opened #46 "1.6 Database table links don't work"
Here http://docs.mybb.com/1.6/Database-Tables/
Links don't work.

When I access to it, I got message "Unfortunately, the page you tried to access could not be found. If you were brought to this page from our website, please contact us with a description of how you came to this page. You can also search for what you were looking for below."

[2015-03-17 17:48] JordanMussi commented on #46
The links are structured incorrectly.

`{{ site.baseurl }}/1.6/Database_Tables-mybb_adminlog.html`
Should be:
`{{ site.baseurl }}/1.6/Database-Tables-mybb-adminlog/`

Fixed in Pull Request #47.

[2015-03-17 18:12] #46 closed

[2015-03-17 19:33] JordanMussi opened #48 "Consistently style 404.html file"
On the main website the 404 file seems to display correctly, but not on the documentation.
http://www.mybb.com/foo
http://docs.mybb.com/foo

[2015-03-27 13:14] Destroy666x opened #52 "your -> you're"
Can't commit it now so I'll create an issue so that it won't be forgotten - http://community.mybb.com/thread-168939-post-1149879.html#pid1149879 (EDIT)

[2015-04-04 01:06] #52 closed

[2015-05-25 20:05] #48 closed

[2015-06-01 21:58] JoshHarmon opened #59 "Attachable Base Colors"
New page on Attachable Base Colors. How to use effectively, what they are, etc.

[2015-06-01 22:02] JoshHarmon opened #60 "Theme development tips"
Explain the development process of themes and some useful tips.

Some examples from internal discussion: template output comments, inspect element/ firebug, attachable base colors.

[2015-06-01 22:05] JoshHarmon commented on #37
Works fine for me when testing now. Looks like this issue is a bit out of date too.

[2015-06-01 22:05] #37 closed

[2015-06-27 06:23] ATofighi opened #61 "Tasks/cron job"
https://github.com/mybb/mybb/issues/2087

[2015-06-27 11:14] Destroy666x commented on #61
https://github.com/mybb/mybb/issues/1729

If you grep `docs.mybb.com` in the whole MyBB package, you can find many more links:
- [x] http://docs.mybb.com/Help-Task_System.html
- [x] http://docs.mybb.com/HowTo_Chmod.html (linked at least 2 times)
- [x] http://docs.mybb.com/CHMOD_Files.html (linked at least a few times, should merge it with the above doc)
- [x] http://docs.mybb.com/SEF_URLs.html
- [

[2015-06-27 12:14] JN-Jones commented on #61
There are also some in the merge system - at least the chmod page is linked too.

[2015-07-01 10:16] psde opened #62 "Update plugin hooks page for 1.8.6"
I added two new hooks for the calendar while fixing a bug. As per https://github.com/mybb/mybb/pull/2006#issuecomment-117580948 the plugin hooks page should be regenerated.

[2015-07-01 10:17] JN-Jones commented on #62
@euantorano IIRC you added that page ;)

[2015-07-01 10:17] euantorano commented on #62
I can run this tonight if nobody beats me to it.

[2015-07-01 10:18] JN-Jones commented on #62
I'd wait till we prepare the release packages as the line numbers may get changed till then.

[2015-07-01 10:18] euantorano commented on #62
I think Paul might of added it initially using my tool ;)

[2015-07-01 10:19] euantorano commented on #62
True, there's a higher chance of me forgetting then. I've been meaning to automate it.

[2015-07-06 22:13] JoshHarmon commented on #29
Ok. Any docs with PHP in them either have to start with opening PHP tags, or you have to use {% highlight php startinline %}

I'm going to ignore the 1.6 Docs, since I consider those deprecated along with MyBB 1.6 itself. So within the 1.8 Docs, from what I can tell, this affects:
- [x] http://docs.mybb.com/1.8/merge/troubleshooting/
- [x] http://docs.mybb.com/1.8/faq/mail/
- [x] http://docs.mybb.

[2015-07-07 02:07] JoshHarmon commented on #29
Welp... Here goes nothing...

Edit: Since the last reference, earliest at top (forgot to tag the issue in the commits!)
a7768d4007068cc1e881e498aa1916704544c6b4
67fa75afd57018b5186678d744c128158c545377
11764ce7a1528056b67b3d862a6a1b2fdb845cf2
cb85a42f67e9a48312176f90ba969c66356eb604
9f2e640e30e2c9b85112df1e2449fda877aff5b5
7fdab44ce984a03bc02fcea47601a25414b2c97f
62679e6bf4c0a49328c6742be4c465e6cd

[2015-07-07 02:51] JoshHarmon commented on #29
Aaaand now it should build.

[2015-07-07 10:57] Destroy666x opened #65 "1.8 docs have misleading 1.6 info"
As I mentioned long time ago here: http://community.mybb.com/thread-157558.html, at least several 1.8 docs have still misleading 1.6 info. For example http://docs.mybb.com/1.8/administration/security/protection/#fine-tuning-the-admin-cp mentions a tutorial for adding PIN to ACP..

[2015-07-07 11:01] Destroy666x opened #66 "Move "Creating a new page" under its own subcategory"
It doesn't have much to do with templates IMO, I wouldn't look for it there: http://docs.mybb.com/1.8/development/plugins/templates/#creating-a-new-page-action

[2015-07-07 14:15] JoshHarmon commented on #65
Yep, I've made a note of these and was about to start migrating all my TODO list to Issues!

[2015-07-07 14:16] JoshHarmon commented on #66
Also on my TODO list :P.

And if you think I'm kidding, Ben C can vouch for it!

[2015-07-07 14:37] JoshHarmon commented on #29
Think this is fixed now!

[2015-07-07 14:37] #29 closed

[2015-07-07 14:44] JoshHarmon opened #67 "Update versions/1.8.0.md (Has ancient information)"
1.8.0.md is ANCIENT information-wise. It still talks about the release in the future tense.

Instead, it should use the [release blog post](http://blog.mybb.com/2014/09/01/mybb-1-8-released/) to detail information about what came in that release - new features, etc. Almost everything that's currently in there (laid out the way it is right now) is probably going to get thrown away.

[2015-07-07 14:50] JoshHarmon opened #68 "Add stuff from dev posts 3 and 4 to versions/2.0.0.md"
[Post 3](http://blog.mybb.com/2015/05/30/2-0-dev-post-3/)
[Post 4](http://blog.mybb.com/2015/07/01/2-0-dev-post-4/)

Unit Testing via CircleCI, use of gulp and Sass in development, the Conversations system, new User CP, profile field enhancements, selective quote, Markdown in addition to MyCode.

Self-assigning since this is simple enough.

[2015-07-07 14:54] JoshHarmon opened #69 "Expand 1.8/administration/security/2fa.md with setup guide, possible pitfalls"
- Setup help/instructions, other than just a table with obnoxiously-large links to apps.
- Explain the 30-second precision and how timezone differences between server and client matter

I don't know what else, but a screenshot here or there in setup would also be nice, instead of endless text.

[2015-07-07 14:56] JoshHarmon opened #70 "Setting up a CDN with 1.8"
Guide for how to configure CDN use within 1.8. It can be a really helpful feature for reducing request load on a server, so it's something that should be documented.

[2015-07-07 14:56] JN-Jones commented on #69
Wasn't there some discussion about fixing/changing this in the core? Not sure atm.

Also we should link a few more apps, especially for windows phone.

[2015-07-07 14:56] pkill37 commented on #29
Cool!

[2015-07-07 15:01] Destroy666x commented on #69
There was, a delay setting should be added in 1.8.6 IMO

[2015-07-07 15:02] JoshHarmon opened #71 "Antispam documentation"
1.8 brought some nice features into the core. The Documentation does an awful job of [highlighting](http://docs.mybb.com/1.8/administration/spam/) them.

Here are some ideas:
- [x] Purge Spammer
- [x] StopForumSpam integration
- [x] Captcha options
- [x] AYAH
- [x] reCaptcha
- [x] "noCaptcha" reCaptcha
- [x] Question/Answer
   - [x] How to choose effective questions
- [x] GD image (or maybe this s

[2015-07-07 15:02] Destroy666x commented on #71
There's also StopForumSpam

[2015-07-07 15:03] JoshHarmon commented on #71
I thought it had to be disabled for some reason, but I might have confused that with something else.

Added it anyways, because I'm probably out of the loop a bit.

[2015-07-07 15:12] JoshHarmon opened #72 "Remove classic links on versions/index.md from before the GH Pages move"
A bunch of the 1.6 (and earlier) download links are to locations that no longer exist.

Self-assigning as I already have the line numbers for this and can fix it up today.

[2015-07-07 15:13] Destroy666x commented on #71
That was in 1.8.0 over a half year ago. It's fixed in 1.8.1.

[2015-07-07 15:15] JoshHarmon opened #73 "Bad heading "Error Message: Error" at 1.8/faq/errors.md"
Should read something like "The installer is currently locked" instead, since that's at least relevant.
"Error Message: Error" is just pointless.

[2015-07-07 15:21] JoshHarmon opened #74 "Move/rename Extend site docs pages"
(All of the below are within the Mods Site category already)

Project Contributors - Mods Site `-to-` Contributing to Projects
Project Owners - Mods Site `-to-` Creating and Managing Projects
Downloaders - Mods Site `-to-` Browsing and Downloading from the Extend Site
Mods Site `-to-` Extend Site Overview **or** Introduction

Progressive verbs tend to be the standard with online documentation, and

[2015-07-07 15:23] JoshHarmon opened #75 "Plugins -> Templates Documentation (2 changes)"
Change title of `Templates` to `Creating and Modifying Templates`

Move the "separate page" stuff (including misc) to a new page, such as `Creating New Pages` or similar.

[2015-07-07 15:24] JoshHarmon opened #76 "Rename “AJAX” to “Using AJAX”"
Consistency with the theme of titles starting with progressive verbs.

[2015-07-07 15:26] JoshHarmon commented on #71
Well... I guess this (forgetfulness) is what happens when you don't actively have a board for a year and a half.

[2015-07-07 15:38] JoshHarmon commented on #29
You're alive!? It's been a long time since we've heard/seen anything from you! :smile:

[2015-07-21 19:24] JoshHarmon commented on #76
ea72553c6687719a9306dc8b73ffdc8bbf146056 did this, but I missed the 6 in 76.

[2015-07-21 19:31] #68 closed

[2015-07-21 19:31] #72 closed

[2015-07-21 19:31] #73 closed

[2015-07-21 19:31] #76 closed

[2015-08-14 02:20] #75 closed

[2015-08-19 05:18] #67 closed

[2015-08-19 05:24] JoshHarmon commented on #74
Forgot to tag this with commits 040b5405f4fc07d77439c4a71b15cc61a7e13d9f 4271e0075bb3235938899b935a4ceae7026fe659 caaaf7ac441696e70d73734245a86b2ee1dd4686 582184fdbbc51d738120033bf599400480b48d54

[2015-08-19 05:24] #74 closed

[2015-08-19 05:34] JoshHarmon commented on #66
Done in 040b5405f4fc07d77439c4a71b15cc61a7e13d9f

[2015-08-19 05:34] #66 closed

[2015-08-19 06:13] JoshHarmon commented on #36
@JN-Jones Would you say http://docs.mybb.com/1.8/merge/troubleshooting/#attachment-permissions-are-wrong solves the last point or no?

If not, what else should be mentioned (I'm not an expert on the merge system, but want to document it.)

[2015-08-19 09:27] JN-Jones commented on #36
The old documentation had some images for the different steps. Apart from that I don't know anything that could be added.

[2015-09-07 19:35] #62 closed

[2015-10-13 05:52] #71 closed

[2015-10-13 05:56] JoshHarmon commented on #65
AFAIK, all of these issues have been fixed. If not, this issue should be reopened with specific inaccuracies.

[2015-10-13 05:56] #65 closed

[2015-10-13 17:18] Destroy666x commented on #65
Could have mentioned that the PIN can be changed in `inc/config.php` now.

[2015-10-13 17:37] Destroy666x opened #77 "More outdated info"
There's definitely more outdated info for 1.8, it just has to be checked.

Examples found just now:
- [ ] http://docs.mybb.com/1.8/translations/translations/#finding-translations links to old translations (the doc could be improved with the new 1.8.1 ACP translation features, too)
- [ ] http://docs.mybb.com/1.8/development/standards/#php-code-demarcation - we don't use closing tags anymore
- [ ] h

[2015-10-13 17:51] Destroy666x opened #78 "Suggest at least one Windows Phone app for 2FA"
http://docs.mybb.com/1.8/administration/security/2fa/ could suggest at least one WIndows Phone app, for example: https://www.microsoft.com/en-us/store/apps/authenticator/9wzdncrfj3rj

[2015-10-14 02:45] JoshHarmon commented on #77
Thanks for the additional findings.

[2015-10-14 03:00] #78 closed

[2015-10-16 16:22] euantorano commented on #71
Nice one Josh!

[2015-10-17 00:17] JoshHarmon commented on #77
@Destroy666x Am I missing any other cookies (or inaccurately describing any)? These are what I've found from a basic search.

ALSO: What language changes happened in 1.8.1? I can't seem to find a PR describing it or anything in the docs/blog.

<dl>
    <dt>acploginattempts</dt>
    <dd>Stores the number of ACP login attempts a user has had.</dd>
    <dt>acp_view</dt>
    <dd>Stores the admin's pre

[2015-10-17 00:25] Destroy666x commented on #77
@JoshHarmon https://github.com/mybb/mybb/issues/2131#issuecomment-141224670 +  https://github.com/mybb/mybb/blob/feature/misc.php#L950

You're still missing some, e.g. the coppa ones.

[2015-10-17 00:27] JoshHarmon commented on #77
@Destroy666x Thanks for the link. I'll get those added.

[2015-11-01 15:33] jspartan opened #81 "Location for cookie settings incorrect"
http://docs.mybb.com/1.8/faq/login/

*Currently:*
Your cookie settings can be found in: Admin CP > Configuration > Settings >
**General Configuration**.

*Should be:*
Your cookie settings can be found in: Admin CP > Configuration > Settings >
**Site Details**.

[2015-11-01 19:20] JoshHarmon commented on #81
Thank you for your report.

[2015-11-01 22:39] #81 closed

[2015-12-28 00:57] Destroy666x commented on #77
This one is outdated as well: http://docs.mybb.com/1.8/faq/mail/
http://community.mybb.com/thread-187311-post-1201591.html#pid1201591

[2015-12-28 03:53] JoshHarmon commented on #77
@Destroy666x Thanks for the report. I'll look into that soon.

[2016-01-02 02:43] #69 closed

[2016-01-18 19:05] Devilshakerz opened #85 "Hide the Security Hall of Fame placeholder"
Currently http://www.mybb.com/get-involved/security/hall-of-fame/ is not being used (will be in MyBB 2.x) - links from http://www.mybb.com/get-involved/security/ should be removed or the _HoF_ page itself should contain an appropriate notice.

[2016-02-23 16:53] Destroy666x opened #90 "Incorrect images + hotlinking"
Google buttons are incorrect: http://docs.mybb.com/1.8/administration/security/2fa/ Also, none of the buttons (and possibly other images in docs) should be hotlinked.

[2016-03-05 06:03] JoshHarmon commented on #85
Wrong repo, @Devilshakerz. You're looking for mybb/mybb.com :P.

[2016-03-05 06:03] #85 closed

[2016-03-05 15:23] Destroy666x commented on #85
mybb.com*

[2016-03-05 15:26] Destroy666x commented on #90
What about other hotlinked images e.g. the Apple one?

[2016-03-06 01:07] #90 closed

[2016-03-06 01:10] JoshHarmon commented on #90
I'm not aware of any more hotlinked images, but I'll keep looking around.

[2016-03-06 01:24] JoshHarmon commented on #85
Tired me was tired, @Destroy666x. You win.

[2016-07-07 02:40] z opened #92 "SSH Quick Install: incorrect or header missing"
When reviewing the 'SSH Quick Install' instructions here: http://docs.mybb.com/1.8/install/ I ran across an issue running `wget` and `curl` I believe it may be due to a missing header on the server.

[code]

Outputting the contents of the file, I see HTML:

[code]

Referencing the wget man page for the flag:

[code]

Cross reference the response headers:

[code]

`Content-Disposition` does not app

[2016-07-07 05:39] JoshHarmon commented on #92
Yeah. This is a result of moving the site from being self-hosted (way back when) to GitHub Pages.

I guess we could update it at each release to point directly to the ZIP file on resources.mybb.com.

[2016-07-18 20:21] andrewjs18 opened #95 "upgrade page improvements"
1- add a small tutorial on how to restrict all access to the forum via .htaccess
2- provide the path in the admin cp to deactivate/disable all plugins prior to the upgrade

http://docs.mybb.com/1.8/install/upgrade/

[2016-07-18 23:54] andrewjs18 opened #99 "cookie generator website"
It might be a good idea to have an official mybb cookie generator website so its availability can be maintained alongside the mybb project.

[2016-07-19 03:29] Destroy666x commented on #99
Why a website? If you mean the cookie domain/path generator hosted by DenisTT, we could simply add Javascript that does the same directly in the doc.

[2016-07-19 03:38] JoshHarmon commented on #99
WIP: https://jsfiddle.net/hf5n0c8g/2/

[2016-07-19 03:47] andrewjs18 commented on #99
javascript directly inside the doc works fine for me, too.

[2016-07-19 03:49] Destroy666x commented on #60
I'll try to work on this + some other development tips soon.

[2016-07-19 06:23] andrewjs18 opened #103 "update links & remove dead links to mybbsecurity.net"
some links need to be updated as well as removing the 5 or so dead links that point to mybbsecurity.net

http://docs.mybb.com/1.8/administration/security/recovery/

[2016-07-20 02:51] JoshHarmon commented on #103
I'm upgrading this to high priority because of the malvertising on the domain. We can't have a security-related page linking users to possible drive-by downloads.

[2016-07-20 05:35] JoshHarmon commented on #103
Forgot to tag this issue on 9fcd68d262b46c4cc75497365832ede5300c0e3c, which should resolve these things.

[2016-07-20 05:37] JoshHarmon commented on #103
Looks like I made a syntax error somewhere...

Edit: Looks like I forgot about the change to rouge, since the code blocks are generating weirdly. I don't know if that's what caused the failure, or if it's something else, but I can't reproduce the failure locally.

[2016-07-20 07:36] Ben-MyBB commented on #61
@JoshHarmon Any idea what was on http://docs.mybb.com/165.html ?

[2016-07-20 10:58] katosdev commented on #70
I will start work on this :+1:

[2016-07-20 11:00] euantorano commented on #70
This thread may be of use: http://community.mybb.com/thread-160349.html

[2016-07-20 11:05] Ben-MyBB commented on #70
Thanks @katosdev

[2016-07-20 11:08] katosdev commented on #70
@euantorano - cheers, will use this as a base guide.
@Ben-Conway no worries

[2016-07-20 12:29] katosdev commented on #70
Sent a pull request here: https://github.com/mybb/docs.mybb.com/pull/104

[2016-07-20 12:42] katosdev commented on #95
@andrewjs18 "Restrict all access to the forum via .htaccess" - would you not be best recommending closing the site via the board offline setting? Just a quick suggestion.
Also, give me a shout should you need a hand with this.

[2016-07-20 13:24] Starpaul20 commented on #61
It was 1.6.5's release info: https://web.archive.org/web/20140301032709/http://docs.mybb.com/165.html

[2016-07-20 15:17] Destroy666x commented on #95
`.htaccess` restriction is better in case something goes wrong

[2016-07-20 17:58] andrewjs18 commented on #95
The .htaccess already exists in the docs, it's just not on the upgrade page.  once we get these page build failure errors fixed, I'll copy it over: http://docs.mybb.com/1.8/administration/security/recovery/#restrict-access-to-the-forum

The 2nd part is also easy to add, once the aforementioned issue is resolved.

[2016-07-21 19:46] Ben-MyBB commented on #95
I'm going to start work on this now.

[2016-07-21 19:51] Ben-MyBB commented on #95
This is completed, just need to merge @andrewjs18 's PR once the build errors are fixed.

[2016-07-21 20:44] andrewjs18 commented on #95
this should be fixed by this PR:
#112

[2016-07-22 07:40] andrewjs18 commented on #61
when doing a grep on the mybb install on my test forum, these are the files it's finding that need to be updated with the correct docs.mybb.com links:

~~`admin/modules/tools/system_health.php:925:  $page->output_error("<p><em>{$errors} {$lang->error_chmod}</span></strong> {$lang->chmod_info} <a href=\"http://docs.mybb.com/HowTo_Chmod.html\" target=\"_blank\">MyBB Docs</a>.</em></ p>");`~~

~~`inc

[2016-07-22 07:43] andrewjs18 commented on #61
@Destroy666x, are you finding anything else that I didn't note above?

[2016-07-22 20:10] andrewjs18 commented on #61
documenting more files that need to be updated...all of these are within the /install directory...some redirect properly and some don't...we should probably update all of them regardless for the sake of uniformity.

~~`resources/settings.xml:267: <description><![CDATA[Search engine friendly URLs change the MyBB links to shorter URLs which search engines prefer and are easier to type. showthread.ph

[2016-07-22 20:10] andrewjs18 commented on #61
@Ben-Conway

[2016-07-22 21:39] Destroy666x commented on #61
Well, I listed all instances I found above. There were no changes so they still are broken

[2016-07-22 22:50] andrewjs18 commented on #61
yeah, I just wanted to list out where all of those instances were in the files to make it easier for us to fix.

[2016-07-23 03:28] andrewjs18 commented on #103
this has been resolved!

[2016-07-23 03:28] #103 closed

[2016-07-23 03:29] andrewjs18 commented on #95
everything has been added!

[2016-07-23 03:29] #95 closed

[2016-07-23 03:30] andrewjs18 commented on #70
closed.  thanks for contributing, @katosdev.

[2016-07-23 03:30] #70 closed

[2016-07-23 17:11] katosdev commented on #70
No worries @andrewjs18

[2016-07-24 07:33] andrewjs18 commented on #61
most of this stuff is fixed in these PRs:
https://github.com/mybb/mybb/pull/2452
https://github.com/mybb/mybb/pull/2453

[2016-07-25 21:28] andrewjs18 commented on #99
how's this coming along, @JoshHarmon

[2016-07-28 19:35] andrewjs18 commented on #61
merge links that need to be updated from what I've found doing a grep on the merge package:

~~`index.php:620: $errors['attachments_check'] = $lang->requirementspage_chmoduploads.' <a href="http://docs.mybb.com/1.8/install/#file-permissions" target="_blank">'.$lang->requirementspage_chmod.'</a>'.$lang->requirementspage_chmoduploads;`~~

~~`language/global.lang.php:196:$l['upload_not_writeable'] =

[2016-07-28 19:44] andrewjs18 commented on #61
fixed broken merge URLs with this PR: https://github.com/mybb/merge-system/pull/199

@JN-Jones

[2016-07-31 18:33] Ben-Conway opened #118 "Add a new page for database connection refused"
https://gyazo.com/0a96164ea30ad8513a7553a98ad036ac

We should add a page on how to fix that error, I see a lot of support topics relating to it.

[2016-07-31 18:33] katosdev commented on #118
I'll take this.

[2016-08-01 21:15] katosdev commented on #118
Completed: https://github.com/mybb/docs.mybb.com/commit/16f04844be4b38f230c8a0b35be80723417dacba

[2016-08-01 21:15] Ben-MyBB commented on #118
Thanks for contributing.

[2016-08-01 21:15] #118 closed

[2016-08-02 21:25] JoshHarmon commented on #99
79fdf98680083c7f7fe6d7c70de93e0eb70a54fc resolves this.

[2016-08-02 21:25] #99 closed

[2016-08-04 14:09] katosdev opened #122 "Detailed functions help docs"
Been speaking with a good friend of mine and we both agreed that having extended documents covering the MyBB functions would be very useful.

Would and dev such as @euantorano or @Devilshakerz etc be able to whip up a short list and we can all add to it as we go on?

Thanks!

[2016-08-04 14:24] dequeues commented on #122
https://crossreference.mybb.de/nav.html?_functions/index.html - all functions.
https://crossreference.mybb.de/inc/functions.php.html - functions.php

If you click the function it'll give you the PHPDoc

[2016-08-04 15:40] katosdev commented on #122
@dequeues great, that's perfect!
Should we maybe consider adding these on /docs/ or such? @euantorano @Ben-Conway ?
Just spit-balling some ideas here ;)

[2016-08-04 15:47] euantorano commented on #122
It would be good if they were on an official domain, yeah. @Stefan-ST does a good job keeping the `mybb.de` ones up to date, but it might look better to have an "official" one under the .com domain.

[2016-08-04 17:30] Destroy666x commented on #122
I don't think that's needed and optimal, just link the crossreference somewhere, no matter where it's hosted

[2016-08-04 20:25] katosdev commented on #122
@euantorano could have a masked domain, and have functions.mybb.com link to the `mybb.de` ones.

[2016-08-04 23:42] andrewjs18 commented on #61
final 2 issues are fixed in this PR: https://github.com/mybb/mybb/pull/2454

closing!!

[2016-08-04 23:42] #61 closed

[2016-08-05 05:36] andrewjs18 commented on #77
updated the translation URL with this commit: https://github.com/mybb/docs.mybb.com/commit/75618d62f9dd2b1e2661ecbf1745f7fb7032b39e

is anything else needed for the translation doc?

[2016-08-06 01:41] JoshHarmon opened #123 "Secure URLs where possible"
Edit - most taken care of in dbd0a0637d18d555c40d18fdc448519be9c1c8b2

Others that should be taken care of:

dev.mybb.com URLs can potentially be found on https://web.archive.org/web/20131029144443/http://dev.mybb.com

There are some other software URLs (you can find them by a simple "http://" search in a text editor, and they may be upgradable.

Most other URLs are example domains and don't neces

[2016-08-06 20:54] Destroy666x commented on #77
It would be nice to write a short guide of the new "Edit with" feature which makes translations much much easier. https://github.com/mybb/mybb/pull/1218

[2016-08-07 06:21] andrewjs18 commented on #123
images on this site need to be fixed so they're loading over https: https://docs.mybb.com/1.8/faq/database-errors/

images here also need to be moved to the mybb server and corrected to load over https: https://docs.mybb.com/1.8/faq/using-a-cdn-with-mybb/

[2016-08-10 15:47] JoshHarmon commented on #123
Closing now that images have been rehosted, and the dev.mybb.com links now point to the Internet Archive pages.

[2016-08-10 15:47] #123 closed

[2016-08-12 23:05] andrewjs18 opened #125 "how to use HTTPS with mybb"
it would be nice to have something in the documentation on how to use HTTPS with mybb.

I imagine we'd need to discuss these things:
- how to obtain a cert (let's encrypt seems the easiest)
- switching board URL from http to https
- proxying non-https resources using @Devilshakerz dvz secure content plugin https://community.mybb.com/mods.php?action=view&pid=450

[2016-08-12 23:22] dvz commented on #125
This should also cover:
- TLS setup, cipher suites basics & recommendations (best if outsourced),
- securing the connection between reverse proxies and the forum server (if applicable),
- security headers mentioned in https://www.owasp.org/index.php/OWASP_Secure_Headers_Project#tab=Headers,
- Subresource Integrity,
- DNSSEC,
- monitoring CSP violations with e.g. https://report-uri.io/,
- manual de

[2016-08-12 23:26] andrewjs18 commented on #125
so better suited to be written by a developer, @Devilshakerz?  :grimacing:

[2016-08-13 01:32] JoshHarmon commented on #125
Mozilla: https://mozilla.github.io/server-side-tls/ssl-config-generator/
Cipherli.st: https://cipherli.st/

[2016-08-21 20:46] andrewjs18 commented on #125
some other useful resources that could be included...
http header check: https://securityheaders.io/
http hardening tips: https://scotthelme.co.uk/hardening-your-http-response-headers/
obtaining let's encrypt certs with nginx & ubuntu 14.04: https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-14-04
obtaining let's encrypt certs with apache & ubuntu 14.

[2016-10-28 05:08] LiveChief commented on #92
Oct 28, 2016 still hasn't been updated no wonder why MyBB is dead

[2016-10-28 08:39] #122 closed

[2016-11-21 17:58] dvz commented on #125
https://github.com/mybb/docs.mybb.com/commit/5d4d90b1ba24fdaf86efcfe6efaea32049415740

[2016-11-21 23:02] JoshHarmon commented on #125
My thunder has been stolen! I'll find a way to work some of my more thorough detail into some of these sections at some point to make it a bit more comprehensive.

[2016-11-21 23:04] dvz commented on #125
https://github.com/mybb/mybb/issues/2464 will have to be mentioned too once it's merged.

[2016-12-02 11:58] andrewjs18 commented on #125
I think this can probably be closed now, yes?

@Devilshakerz, @JoshHarmon

[2016-12-02 21:13] dvz commented on #125
I've outsourced the certificate installation guide to Digicert and Namecheap pages but anyone can feel free to push/PR additional information if it's not mentioned on reputable websites.

[2016-12-02 21:13] #125 closed

[2016-12-05 14:14] MyBB-Andro opened #141 "Wrong SFS API registration link"
Wrong SFS API registration link

Fix: [#140](https://github.com/mybb/docs.mybb.com/pull/140)

[2016-12-05 20:31] #141 closed

[2016-12-23 16:38] stoffer123 opened #143 "Mail error 554"
posted wrong place

[2016-12-23 16:44] #143 closed

[2017-04-26 17:52] MyBB-Andro opened #148 "Move documentation files that relate to both MyBB 1.6 and 1.8 but are exclusively available under the 1.6 section"
There are a lot of documentation files that relate to both MyBB 1.6 and 1.8 but are exclusively available under the 1.6 section [1.6 Documentation](https://docs.mybb.com/1.6/) It would make sense to move them to the 1.8 section since 1.6 is end of life.

[2017-07-09 18:28] #148 closed

[2017-10-14 22:03] euantorano opened #153 "Port the old Database Restore documentation to 1.8"
The old 1.6 documentation has a guide on [restoring a MyBB database](https://docs.mybb.com/1.6/Database-Restore/). This should be updated for 1.6 and should be fleshed out a little (with screenshots of the restore process within phpMyAdmin for example).

Also, the restore process should be described for other database management systems such as PostgreSQL.

[2017-12-11 21:04] greencopper opened #161 "Upgrade guide isn't working"
I have just followed the guide in order to upgrade from version 1.8.12 to 1.8.14. Since this is a full upgrade I downloaded all the files and copied the files over (overwrite) the old ones. Afterwards MyBB isn't working and I am getting the following very unhelpful message:

[code]
And:

[code]

So following the guide to the letter isn't working, but I don't know what the problem is in order to de

[2017-12-11 21:13] andrewjs18 commented on #161
closing this as it's better to discuss on the 1.8 support forums here: https://community.mybb.com/forum-176.html

[2017-12-11 21:29] greencopper commented on #161
I am not going to register on the forum, I haven't got time for that. The error is valid, I have re-tested this 3 times using a backup. As soon as you overwrite all the files, the forum is out of order, so the documentation isn't correct. Please test a full upgrade from version 1.8.12 to 1.8.14. Most likely nobody bothered to test the documentation/upgrade procedure.

[2017-12-11 21:39] andrewjs18 commented on #161
I upgraded my big board from 1.8.12 to 1.8.14 last week without any issues.  these issues need to be discussed on the forum as that's the proper venue for such problems...

[2017-12-14 17:04] JordanMussi commented on #161
Did you run the upgrade script?

https://mybb.com/versions/1.8.13/

You need to run the upgrade script since you are passing 1.8.13 when upgrading from 1.8.12 to 1.8.14.

[2018-02-19 22:01] andrewjs18 commented on #36
closing this as the issue is almost 4 years old and the merge system development has been stagnant for quite some time.

[2018-02-19 22:01] #36 closed

[2018-05-23 15:16] RashanH opened #171 "Attachments unavailable in translation docs."
As the title, attachments on translation page are unavailable.
To fix :

- https://docs.mybb.com/1.8/development/translations/#translating-other-items -> .psd groupimages_eng.psd (Size: 221.55 KB / Downloads: 565)
- https://docs.mybb.com/1.8/development/translations/#finishing-steps -> .html readme.html (Size: 11 KB / Downloads: 1414)

Also, have to update all links on that page to new community s

[2018-06-26 23:49] AndreRl commented on #153
I think this will be beneficial now more than ever as IcyBoards is closing down and this is what's basically required. I could probably get this done for PhpMyAdmin, PgAdmin and SSH. Opinion? @euantorano

[2018-06-26 23:50] andrewjs18 commented on #153
sure, submit a PR and we'll check it out.

[2018-08-18 19:08] AndreRl commented on #153
This issue should be marked as closed.

[2019-01-27 12:24] levelad opened #179 "Missing information in MyBB Documentation (Recovering a Hacked Forum)"
Hi there,

I followed this instruction https://docs.mybb.com/1.8/administration/security/recovery/#change-the-default-table-prefix-mysql

But after I did this I almost got an heart attack because I now got the error message "SQL Error: 1146 - Table 'xx_yy.prefix_datacache' doesn't exist" 😁

Thanks to Destroy666 I found the solution in an old 1.6 post here (https://community.mybb.com/thread-150318.

[2019-10-12 12:32] SerpiusCapricornus opened #184 "Backup/Export Data Needs Clarification"
Step #1 needs a bit of clarification in exactly where to go to disable Plugins.

This is the correct "drill-down" to find the Disable All Plugins setting.

AdminCP >> Configuration >> Board Settings >> General Configuration

"disable all plugins by navigating to Configuration"

Should be changed to...

"disable all plugins by navigating to Configuration, Board Settings, General Configuration"

[2019-12-06 10:56] euantorano commented on #184
Resolved in #185

[2019-12-06 10:56] #184 closed

[2019-12-09 01:13] Admixing commented on #171
@euantorano should this be closed or?

[2019-12-09 07:06] euantorano commented on #171
Yep, missed that sorry. Will close.

On Mon, 9 Dec 2019, at 01:13, John | Nasyr wrote:

[2019-12-12 11:36] yuliu opened #187 "Formatting issue: 1.8/faq/database-errors.md"
Why the following input is parsed as a whole heading?

Ahh I see, maybe should use `&lt;` and `&gtl` instead of `<` and `>` in headers.

[code]

# Table <table> doesn't exist

Missing a table? First, consider a few key things:

- Is this table a core table that ships with MyBB?
- Is this table from a plugin / extension?
- What were you doing before this error appeared?

[the link is so long](https

[2019-12-12 11:39] euantorano commented on #187
That's definitely an interesting issue/bug in the Markdown processing 😆

[2019-12-16 20:13] #179 closed

[2019-12-16 21:59] #187 closed

[2020-04-16 21:27] euantorano opened #191 "Missing documentation for advanced database configuration"
MyBB supports using multiple read/write connections for databases, but this functionality currently seems to be totally undocumented for 1.8. There are some old docs for 1.4 [here](https://blog.mybb.com/2008/03/18/mybb-14-admin-cp-the-complete-overview-part-3/) but they are quite old and have broken screenshots (and are difficult to find).

We should document this functionality as it's quite usefu

[2020-05-01 13:29] euantorano opened #192 "Add documentation for the Redis cache driver"
Since merging mybb/mybb#3958, we now support Redis as a cache driver. We need to add some documentation for it.

[2020-05-02 11:52] Ben-MyBB commented on #192
I'm wondering if the best way would be to add a list of supported cache drivers and link to the relevant 3rd party documentation? E.G https://redis.io/documentation

[2020-05-02 12:27] euantorano commented on #192
Yes, but also some documentation about how to set it up in `config.php` (which is easy really).

[2020-05-03 17:48] Ben-MyBB commented on #192
I'll create a list with the relevant documentation and submit a PR over the next few days hoping to have it up in time for .23 release.

[2020-05-10 18:10] yuliu opened #195 "Refine cookie-related docs about cookie domain and cookie prefix"
Relevant docs:
https://docs.mybb.com/1.8/development/cookies/
https://docs.mybb.com/1.8/faq/login-problems/

Points to refine:
- The leading dot in cookie's domain setting shouldn't get emphasized.
- Cookie prefix may cause login problem in some circumstances.
  Although rare, installing two MyBB with default settings, with same relative path but under different levels of a same domain (a domain a